# Functional Programming
1. Simple
2. Easy to understand
3. Better reuseability
4. Length of program will be divided into sub programs

In [ ]:
def nameofFunction(<parameters>):
    statements
    return

### Read a number
### Print the even digit sum from the number

#### Input : 1234
#### Output : 6(2+4)

In [4]:
def evendigitsum(n):
    s=0
    while n!=0:
        r=n%10
        if r%2==0:
            s=s+r
        n=n//10
    return s
evendigitsum(1234)

6

In [5]:
# define return function
def square(x):
    print(x*x)
print(square(4))

16
None

In [7]:
def square(x):
    return x*x
square(3)

9

In [8]:
def cube(x):
    return x*x*x
cube(3)

27

In [10]:
def multiply(x,y=0):
    print("Value of x:",x)
    print("Value of y:",y)
    return(x*y)
print(multiply(4,1))

Value of x: 4
Value of y: 1
4

In [13]:
# swap value
def swap(x,y):
    z=x
    x=y
    y=z
    return(x,y)
swap(7,4)

(4, 7)

In [15]:
# Input : 19535
# output : 9
def largedigit(n):
    large=0
    while n!=0:
        r=n%10
        if r>large:
            large=r
        n=n//10
    return large
largedigit(19535)

9

## For Loop
### Syntax1:
for i in range(star,stop,step)
>statements
### Syntax2:
for i in iterableobject:
>statements

In [25]:
# Function to print a numbers btw two limits
def printseries(ll,ul):
    for x in range(ll,ul+1):
        print(x,end=" ")
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

# Data structures:
1. List
2. Tuple
3. Set
4. Dictionary

## List:
- One of the datastructure in Python
- Data Structure maens to store,sort and search options
- It's one common Data structure in Python,the items of list seperated by comma and enclosed in square brackets[]

## Example:
- list1=[1,2,3,4,5]
- list2=["Gitam",1,2]

In [35]:
li=[1,8,16,9,2]# positive index is [0,1,2,3,4] negative index is [-5,-4,-3,-2,-1]
print(li)# will print all numbers in the list
print(li[0])# will print the first number in the list
print(li[1])# will print the number in the list with index 1 i.e., 8
print(li[-5])# will print the number in the list with index -5 i.e.,1
print(li[2:])# will print the numbers in the list after index 2 including the number with index 2
print(li[1:])# will print the numbers in the list after index 1 including the number with index 1
print(li[1:4])
print(li[-4:-1])

[1, 8, 16, 9, 2]
1
8
1
[16, 9, 2]
[8, 16, 9, 2]
[8, 16, 9]
[8, 16, 9]

In [36]:
# Update list
li=['gitam',1234,'hyd']
print(li)
li[1]=425
print(li)

['gitam', 1234, 'hyd']
['gitam', 425, 'hyd']

In [37]:
# delete a value from list
li=['gitam',1234,2018,2019,'hyd']
print(li)
del li[3]
print(li)

['gitam', 1234, 2018, 2019, 'hyd']
['gitam', 1234, 2018, 'hyd']

In [38]:
# find lemgth list
li=['gitam',1234,'hyd']
print(len (li))

3